@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

.active {
  --tw-bg-opacity: 1;
  background-color: rgb(148 163 184 / var(--tw-bg-opacity));
}

.slider {
  background-color: #f6f6f6;
}

body {
  font-family: "Nunito", sans-serif;
}

.paginate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 180px;
  margin-left: 300px;
}

.paginate li {
  padding: 6px 12px;
  margin: 1px;
}

.active-page {
  background-color: black;
  color: white;
  border-radius: 5px;
}
