@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  --tw-bg-opacity: 1;
  background-color: rgb(148 163 184 / var(--tw-bg-opacity));
}

.paginate {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 14rem;
  margin-top: 20px;
}

.paginate li {
  padding: 6px 12px;
  margin: 1px;
}

.active-page {
  background-color: black; /* Örnek olarak kırmızı arka plan rengi verdik */
  color: white;
  border-radius: 5px; /* Yazı rengini beyaz yaptık, ihtiyaca göre değiştirilebilir */
}
